:root {
    --black: #32373b;
    --white: #fcf7f8;
    --white-hover: #e7e7e7;
    --grey: #cec8c9;
    --accent: #2191fb;
}

@media screen and (min-width: 720px) {
    body nav {
        flex-direction: row;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
}

body {
    color: var(--black);
    background-color: var(--white);
    min-height: 100vh;
    display: grid;
    grid-template:
        "header" max-content
        "main-content" 1fr
        "footer" max-content / calc(100vw - 2rem);
    padding: 0 1rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
    gap: 1.5rem;
}

main {
    grid-area: main-content;
}

footer {
    grid-area: footer;
    flex-direction: column;
    padding: 0.5rem;
}

a {
    color: var(--accent);
    font-weight: 700;
}

a:visited {
    color: var(--accent);
}

.logo-wrapper {
    gap: 0.5rem;
}

.logo-text {
    font-size: 2.5rem;
}

.logo-icon {
    font-size: 2.5rem;
    color: var(--accent);
    user-select: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 2.5rem;
}

.fancy-border {
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}

.text-box {
    font-size: 1rem;
    padding: 0.33rem 0.5rem;
    font-weight: 400;
    background-color: var(--white);
    color: var(--black);
    height: 100%;
    width: 100%;
}

.text-box:focus {
    outline: 1px solid var(--accent);
    outline-offset: 1px;
}

.query-wrapper {
    position: relative;
    width: 80%;
    max-width: 350px;
}

.text-box + label {
    position: absolute;
    font-size: 1rem;
    left: 0.5rem;
    top: 50%;
    translate: 0% -50%;
    transition: top 0.25s ease-in;
    pointer-events: none;
}

:not(.text-box:placeholder-shown) + label,
.text-box:focus + label {
    top: -1rem;
}

.query-button {
    aspect-ratio: 1 / 1;
    height: 100%;
    color: var(--black);
    background-color: var(--white);
}

.query-button:hover {
    cursor: pointer;
    border-color: var(--accent);
}

.query-button:active {
    background-color: var(--white-hover);
}

button .material-symbols-outlined {
    color: inherit;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opacity-transition {
    transition: opacity 0.25s;
}

.visible-element {
    visibility: visible;
    opacity: 1;
}

.hidden-element {
    visibility: hidden;
    opacity: 0;
}

.message-screen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    width: 75%;
}

.message-screen p {
    text-align: center;
    line-height: 1.5rem;
}

.message-screen span {
    color: var(--grey);
    font-size: 6rem;
    text-align: center;
    user-select: none;
}

.loading-icon {
    position: absolute;
    width: 50px;
    height: 50px;

    animation-name: loading-spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading-spin {
    from {
        transform: rotate(0deg) scaleX(-1);
    }

    to {
        transform: rotate(360deg) scaleX(-1);
    }
}
